.next
out
dist
build
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.env.local
.env.development
.env.production
.env.test
*.log
*.cache
coverage
public
tooling/*
!.prettierrc.cjs
!.eslintrc.cjs
.DS_Store